/* Центрирование текста в заголовках */
h1, h2 {
    text-align: center;
}

/* Центрирование карточек специальностей */
#specialties {
    display: flex;
    flex-wrap: wrap; /* Позволяет карточкам переходить на следующую строку */
    justify-content: center; /* Центрирует карточки по горизонтали */
    gap: 20px; /* Отступы между карточками */
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
}

/* Общий стиль для карточек специальностей */
.specialty {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 300px; /* Фиксированная ширина карточки для лучшего выравнивания */
    text-align: center; /* Центрирование текста внутри карточки */
    padding: 15px; /* Отступы внутри карточки */
    border-radius: 8px; /* Скругление углов */
    background-color: url('images/background-image.jpg')
    display: flex; /* Используем flexbox для размещения элементов */
    flex-direction: column; /* Располагаем элементы по колонке */
}

/* Уменьшаем размер шрифта заголовков */
.specialty h2 {
    font-size: 18px; /* Размер шрифта заголовка */
    margin: 0; /* Убираем отступы */
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирует иконки и текст */
}

/* Иконки для специальностей */
.specialty h2 img {
    margin-right: 10px; /* Отступ между иконкой и заголовком */
    width: 50px; /* Увеличенная ширина иконки */
    height: 50px; /* Увеличенная высота иконки */
    object-fit: contain;
}

/* Кнопки действий */
.btn {
    display: inline-block;
    margin-top: auto; /* Автоматический отступ сверху */
    padding: 10px 15px;
    background-color: #DCB489; /* Золотой цвет */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.btn:hover {
    background-color: #C89A73; /* Темнее при наведении */
}

.specialty:hover {
    transform: translateY(-5px);
}
