/* Общие стили для всего сайта */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #F9FFFF; /* Небесная лазурь */
}

header {
    background: #2F6FB6; /* Темный зеленый чай */
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #AABFD0; /* Серовато-голубой */
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #DCB489; /* Золотой цвет при наведении */
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.widget {
    background: #6C8DAE; /* Сизый цвет */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px; /* Максимальная ширина виджета */
    margin: 30px auto; /* Центрирование виджета */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 20px;
}

.question {
    margin: 15px 0;
    padding: 15px;
    background: #BCCF97; /* Светлый джинсовый цвет */
    border-radius: 5px;
}

.question p {
    margin-bottom: 10px;
    font-weight: bold;
}

.submit-btn {
    background: #A4DBB1; /* Нежный пастельный мятный */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background 0.3s;
}

.submit-btn:hover {
    background: #935669; /* Темно-серая мальва (по желанию можно заменить на другой цвет) */
}

#result {
    margin-top: 30px;
    padding: 20px;
    background: #D3C6B3; /* Цвет серый шелк */
    border-radius: 10px;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background: #2F6FB6; /* Темный зеленый чай */
    color: #fff;
}

footer p {
    margin: 0;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .widget {
        padding: 20px; /* Уменьшаем отступы для мобильных устройств */
    }

    h2 {
        font-size: 1.5rem; /* Уменьшаем размер заголовка */
    }

    .submit-btn {
        width: 100%; /* Кнопка занимает всю ширину */
    }
}
